<form class="container" #categoryForm="ngForm"
  [class.was-validated]="categoryForm.invalid && (categoryForm.dirty || categoryForm.touched)">
  <app-modal #modal>
    <div modal-header>
      <h2> {{ category?.id ? 'Update category' : 'Add new category'}} </h2>
    </div>
    <div modal-body>
      <div class="row">
        <div class="col">
          <label for="name" class="form-label">Name*</label>
          <div class="input-group has-validation">
            <input required name="name" #name="ngModel" [(ngModel)]="category.name" type="text" class="form-control"
              id="name">
            <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
              Please insert a name!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" [(ngModel)]="category.description" name="description" id="description"
            rows="3"></textarea>
        </div>
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" (click)="modal.close()" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary ml-1" [disabled]="categoryForm?.invalid"
        (click)="save(); categoryForm.reset()">Save</button>
    </div>
  </app-modal>
</form>